<% let pageId  = 'news'; %>

<%- include('../common/_header', {pageId:pageId }) %>

<% console.log(jsonData) %>
<main class="p-news">
  <div class="inner-block">
    newsです
  </div>
</main>



<%- include('../common/_footer', {pageId:pageId }) %>